.notion {
    background-color: #f05f47;
    color: #fff;
}
.ju-ju {
    background-color: #4f5d40;
    color: #fff;
}
.diesel-and-dust {
    background-color: #111;
    color: #e29e40;
}
.fifty{
    background-color: #fff;
    color: #74a7e1;
}
.dimond-life {
    background-color: #000;
    color: #93d3e6;
}
.rose {
    background-color: #eee;
    color: #ea5356;
}
.war {
    background-color: #7b8553;
    color: #f1d344;
}